@charset "utf-8";
/* CSS Document */




#slider{
	/*background-image:url("../images/shadow.png");*/
	/*background:#000;*/
margin-left: auto;
margin-right: auto;
margin-bottom:15px;
/*border:solid 1px #000;*/
/*margin-bottom: 20px;*/
/*width: 900px;*/
}	
	
	#slider ul, #slider li{
		margin:0;
		padding:0;
		list-style:none;
                
		}
	#slider li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:782px;
		height:200px;
		overflow:hidden;
		/*margin:5px 0px 0px 25px;*/
		/*text-align:center;*/
		}
		
	#slider li .slide_img {
		width:306px;		
		margin:0px 20px 0px 20px;
		float:left;
		}
	
	#slider li .slide_text{
		
		width:410px;
		/*border:solid 1px #000;*/
		/*margin-right:20px;*/
		float:left;
		text-align:left;
		}
		
/* image replacement */
        .graphic, #prevBtn, #nextBtn{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */

	
	#prevBtn, #nextBtn{
		/*border:solid 1px #000;*/
		display:block;
		width:80px;
		height:30px;
		position:absolute;
		margin-top:20px;
		/*left:50px;*/
		/*top:288px;*/
                
                
		}	
	#nextBtn{ 
		margin-left:850px;
                
		}
	
	#prevBtn a, #nextBtn a{  
		
                display:block;
		width:100px;
		height:77px;
		background:url(../images/prevlabel.gif) no-repeat 0 0;
                
		}	
	#nextBtn a{ 
		background:url(../images/nextlabel.gif) no-repeat 0 0;	
		}
	#slider p{
		color:#666;
                }
        #slider h3{color:#87110E;}
        #slider p a{
            color:#87110E;
            text-decoration:none;
	    
	    }

/* // Easy Slider */
